@import url('reset.css');

.container {
    width: 1200px;
    margin: 0 auto;
}

.first {
    font-size: 0;
}

.first > div {
    font-size: 16px;
    display: inline-block;
    width: 400px;
    height: 400px;
    background: aqua;
    outline: 2px solid red;
}

.second {
    font-size: 0;
    height: 400px;
}

.second > div {
    font-size: 16px;
    display: inline-block;
    background: greenyellow;
    width: 800px;
}

.second > div + div {
    width: 400px;
}

.second > div > div {
    outline: 2px solid red;
    height: 200px;
}

.second > div + div > div {
    height: 133.33px;
}

.third {
    font-size: 0;
    height: 400px;
}


.third > div {
    font-size: 16px;
    display: inline-block;
    width: 400px;
    background: orange;
    outline: 2px solid red;
}

.third > div > div {
    background: orange;
    outline: 2px solid red;
    height: 200px;
}

.third > div > div > div {
    background: orange;
    outline: 2px solid red;
    height: 200px;
    width: 400px;
    font-size: 16px;
}

.third > div + div {
    width: 800px;
}

.third > div {
    
    height: 400px;
}

.inline {
    display: inline-block;
    font-size: 16px;
}

.inline > div {
    height: 100px;
    outline: 2px solid red;
}

.font {
    font-size: 0;
}